/* General variables */
$dashboard-menu-height: 46px;
$dashboard-menu-padding: 15px;
$dashboard-menu-padding-small: 7px;
$dashboard-menu-header-bg-color: #292929;
$dashboard-menu-header-color: #AFAFAF;
$dashboard-menu-body-border-color: $dashboard-menu-header-bg-color;
$dashboard-menu-body-bg-color: $dashboard-menu-header-color;

/* Body */
body {
    padding-top: $dashboard-menu-height;
}

/* DashboardMenu container:
This is the element that contains the entire menu, both header and body
*/
.dashboard-menu__container {}

/* DashboardMenu header, the always visible part */
.dashboard-menu__header {
    /* Position and dimension */
    position: absolute;
    top: 0;
    width: 100%;      
    height: $dashboard-menu-height;
    /* Colors */
    background-color: $dashboard-menu-header-bg-color;
    color: $dashboard-menu-header-color;
    /* Flex configuration and Children spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/* Block is an element within the header, that can contains many items */
.dashboard-menu__header-block {}

.dashboard-menu__header-block--left {
    text-align: left;
    padding-left: $dashboard-menu-padding-small;
}

.dashboard-menu__header-block--center {
    text-align: center;
}

.dashboard-menu__header-block--right {
    text-align: right;
    padding-right: $dashboard-menu-padding-small;
}

/* A single item inside header */
.dashboard-menu__header-item {
    display: inline-flex;
    align-items: center;
    height: $dashboard-menu-height;
    padding: 0 $dashboard-menu-padding;

    &:not(:last-child) {
      border-right: 1px solid $dashboard-menu-header-color;
    }
}

/* DashboardMenu body */
.dashboard-menu__body {
    border: 1px solid $dashboard-menu-body-border-color;
    background-color: $dashboard-menu-body-bg-color;
}
